{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>About Andrew</title>
</head>
<body>
    <div class="background-layer">
        <img class="background-img active" id="backgroundImage1">
        <img class="background-img" id="backgroundImage2" src="{% static 'snow-background.png' %}" alt="snow-background">
        <img class="background-img" id="backgroundImage3" src="{% static 'summer-background.jpg' %}" alt="summer-background">
        <img class="background-img" id="backgroundImage4" src="{% static 'spring-background.png' %}" alt="spring-background">
    </div>
    <div class="container">
        <h2 class="jumbo-text">Hello!</h1>
        <h1 class="jumbo-text name-text">My name is Andrew</h1>
        <button class="change-theme-button" type="button" onclick="changeTheme()" id="changeTheme">Change Theme</button>
        <div class="activity-card corona-card">
            <h3 class="activity-title corona-title">
                Due to the corona virus outbreak,<br>
                I recommend you to stay at home. <br><br>
                <small>Always safe and be healthy</small>
            </h3>
            <img class="corona-logo" src="{%static 'corona-info.png' %}">
        </div>
        <div class="accordion-container">
            <div class="accordion shadow" data-aos="fade-zoom-in">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="activityButton">
                        <img class="accordion-logo" src="{% static 'activity-logo.png' %}">
                        <div class="accordion-title">
                            My activity
                            <small>Tells about my daily routines</small>
                        </div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="activityBody">
                    <div class="activity-card-container">
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'wake-up.png' %}">
                            <h3 class="activity-title">Wake up</h3>
                            <h5 class="activity-subtitle">Usually at 6-10 AM</h5>
                        </div>
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'study.png' %}">
                            <h3 class="activity-title">Study</h3>
                            <h5 class="activity-subtitle">Checking all emails to see study materials, lecture shcedule.</h5>
                        </div>
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'homework.png' %}">
                            <h3 class="activity-title">Do homework</h3>
                            <h5 class="activity-subtitle">Managing my time to do homework as much as i can</h5>
                        </div>
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'do-experiment.png' %}">
                            <h3 class="activity-title">Experiment time</h3>
                            <h5 class="activity-subtitle">TIME TO EXPLORE NEW THINGS, try different new technology</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion shadow" data-aos="fade-zoom-in">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="experienceButton">
                        <img class="accordion-logo" src="{% static 'experience-logo.png' %}">
                        <div class="accordion-title">
                            Organizational experience
                            <small>What i've done so far</small>
                        </div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="experienceBody">
                    <div class="activity-card-container">
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'bemcsui.png' %}">
                            <h3 class="activity-title">IT Dev <br>Department Staff</h3>
                            <h5 class="activity-subtitle">
                                BEM Fasilkom UI<br>
                                Jan 2020 - Now
                            </h5>
                        </div>
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'perak.png' %}">
                            <h3 class="activity-title">Front End <br>Web Developer</h3>
                            <h5 class="activity-subtitle">
                                PERAK<br>
                                Dec 2019 - Now
                            </h5>
                        </div>
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'osissmak1.png' %}">
                            <h3 class="activity-title">Student Council <br>IT Section Coordinator</h3>
                            <h5 class="activity-subtitle">
                                OSIS SMAK 1 PENABUR Jakarta<br>
                                Sept 2017 - Sept 2018
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion shadow" data-aos="fade-zoom-in">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="achievementButton">
                        <img class="accordion-logo" src="{% static 'achivement-logo.png' %}">
                        <div class="accordion-title">
                            Achievement
                            <small>Winning some competition</small>
                        </div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="achievementBody">
                    <div class="activity-card-container">
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'ristek.svg' %}">
                            <h3 class="activity-title">1st Place in <br>CITD (Code In The Dark)</h3>
                            <h5 class="activity-subtitle">2019</h5>
                        </div>
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'school.png' %}">
                            <h3 class="activity-title">Best student in <br>Junior High School</h3>
                            <h5 class="activity-subtitle">2016</h5>
                        </div>
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'science.png' %}">
                            <h3 class="activity-title">2nd Place District Science Compeititon</h3>
                            <h5 class="activity-subtitle">2015</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion shadow" data-aos="fade-zoom-in">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="contactButton">
                        <img class="accordion-logo" src="{% static 'contact-logo.png' %}">
                        <div class="accordion-title">
                            Contact Me
                            <small>My email and phone number</small>
                        </div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="contactBody">
                    <div class="activity-card-container">
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'mail.png' %}">
                            <h3 class="activity-title">E-mail</h3>
                            <h5 class="activity-subtitle">susa********************</h5>
                        </div>
                        <div class="activity-card" data-aos="fade-zoom-in">
                            <img class="activity-logo" src="{%static 'phone.png' %}">
                            <h3 class="activity-title">Phone</h3>
                            <h5 class="activity-subtitle">0858837*****</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay-layer">
        <img class="overlay-img active" >
        <img class="overlay-img" src="{% static 'snow-overlay.png' %}" alt="snow-overlay">
        <img class="overlay-img">
        <img class="overlay-img" src="{% static 'spring-overlay.png' %}" alt="snow-overlay">
    </div>
    <script>
        AOS.init();
        $('#activityButton').click(function(){
            $('#activityBody').toggleClass('hidden');
        })
        $('#experienceButton').click(function(){
            $('#experienceBody').toggleClass('hidden');
        })
        $('#achievementButton').click(function(){
            $('#achievementBody').toggleClass('hidden');
        })
        $('#contactButton').click(function(){
            $('#contactBody').toggleClass('hidden');
        })

        $('.accordion-button-up').click(function(){
            var thisAccordion = $(this).parent().parent().parent();
            thisAccordion.insertBefore(thisAccordion.prev());
        })

        $('.accordion-button-down').click(function(){
            var thisAccordion = $(this).parent().parent().parent();
            thisAccordion.insertAfter(thisAccordion.next());
        })

        accordionColor = ['#ffffff', '#FCF5EF', '#FEC085', '#f9d9da' ]
        function changeTheme(){
            var e = $('.overlay-img.active').first();
            if($(e).is(':last-child')){
                $(e).siblings().first().addClass('active');
            }else{
                $(e).next().addClass('active');
            }
            $(e).removeClass('active');

            var e2 = $('.background-img.active').first();
            if($(e2).is(':last-child')){
                $(e2).siblings().first().addClass('active');
            }else{
                $(e2).next().addClass('active');
            }
            $(e2).removeClass('active');

            var index = $(e).index() + 1;
            $('.accordion').css('background-color', accordionColor[index]);
        }
    </script>
</body>
</html>