@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

html, body, h1, h2, h3, h4, h5, h6, span, b, i, button {
    font-family: 'Open Sans', sans-serif;
    scrollbar-width: none;
}

body{
    margin:0px;
}
h1,h2,h3,h4,h5,h6{
    margin:5px;
    margin-left:0px;
    margin-right:0px;
}

.container{
    margin:50px;
    margin-left:200px;
    margin-right:200px;
}

.accordion{
    margin: 20px;
    border-radius:15px;
    margin-top:30px;
    margin-bottom:30px;
    background-color: white;
}

.accordion-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius:10px;
    /* box-shadow: 0 0px 20px rgba(85, 85, 85, 0.274); */
    padding : 10px 20px 10px 20px;
}

.accordion-header-left{
    display:flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.accordion-logo{
    width:70px;
    height:70px;
    margin-right:10px;
}

.accordion-title{
    font-weight: 700;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.4px;
}

.accordion-title small{
    color:gray;
    font-size: 16px;
    letter-spacing: 0.7px;
    font-weight: 600;
}

.accordion-buttons{
    display:flex;
    flex-direction: row;
}

.accordion-buttons div{
    margin:11px;
    border-radius:15px;
    border: 2px rgb(223, 223, 223) solid;
    padding:8px;
    width: 20px;
    height:20px;
    text-align: center;
    color: rgb(100, 100, 100);
    cursor: pointer;
}

.activity-card{
    width:220px;
    height:150px;
    border-radius:15px;
    box-shadow: 0 0px 20px rgba(85, 85, 85, 0.274);
    margin:20px;
    padding:20px;
}

.corona-card{
    width:auto;
    height:200px;
    background-color:rgb(99, 132, 238);
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:30px;
}

.corona-logo{
    height:inherit;
}

.corona-title{
    font-size: 35px;
}

.corona-title small{
    font-weight: 600;
}

.activity-card-container{
    width: max-content;
    display:flex;
    flex-direction: row;
}

.accordion-body{
    overflow-y:hidden;
    overflow-x: scroll;
    max-height:250px;
    transition: max-height 1s;
    transition-timing-function: ease-in-out;
}

.activity-logo{
    width:50px;
    height:50px;
}

.activity-subtitle{
    color:gray;
    font-weight: 600;
}

.shadow{
    box-shadow: 0 0px 20px rgba(85, 85, 85, 0.274);
}

.hidden{
    max-height: 0px;
    overflow-y: hidden;
}

.experience-container{
    display:flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    height: 1px;              /* height of horizontal scrollbar ← You're missing this */   /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
  }

.background-layer{
    position: fixed;
    z-index: -99;
    top:0px;
    width:100vw;
    height:100vh;
}

.background-img{
    width: 100%;
    height: 100%;
    display:none;
}

.background-img.active{
    display:inline-block
}

.overlay-layer{
    position: fixed;
    bottom:0px;
    width: 100vw;
    animation-name: overlaymove;
    animation-duration: 110s;
    animation-iteration-count: infinite;
    pointer-events: none;
}

.overlay-img{
    width: 100%;
    display:none;
}
.overlay-img.active{
    display:inline-block;
}

.change-theme-button{
    background-color: rgba(255,255,255,0.9);
    padding: 10px 20px 10px 20px;
    color:rgb(99, 132, 238);
    border-radius:10px;
    border:3px;
    border-color:rgb(99, 132, 238);
    border-style: solid;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 0px 20px rgba(85, 85, 85, 0.274);
}
@keyframes overlaymove{
    from{
        bottom:0px;
    }
    to{
        bottom:-3000px;
    }
}

@media only screen and (max-width:450px){
    .container{
        margin-left:10px;
        margin-right:10px;

    }
    .accordion-header-left{
        flex-direction: column;
        align-items: flex-start;
    }
    .accordion-buttons div{
        margin:5px;
    }
    .accordion-title{
        font-size: 16px;;
    }

    .accordion-title small{
        font-size: 13px;;
    }

    .corona-card{
        padding:15px;
        height:150px;
        align-items: center;
    }
    
    .corona-logo{
        height:80%;
    }
    
    .corona-title{
        font-size: 15px;
    }
    
    .corona-title small{
        font-weight: 600;
    }
    
}